@media (max-width: 1024px) {
    .slider{
        width: 900px;
        height: 500px;
    }
    .slider__item img{
        width: 820px;
        height: 470px;
    }
}

@media (max-width: 820px) {
    .slider{
        width: 750px;
        height: 400px;
    }
    .slider__item img{
        width: 670px;
        height: 370px;
    }
    .about__img{
        width: 330px;
        object-fit: cover;
    }
    .footer__name{
        font-size: 20px;
    }
}

@media (max-width: 768px){
    .designing__img{
        display: none;
    }
    .hero__title{
        font-size: 40px;
    }
    .hero{
        padding: 40px 0;
    }
    .title2{
        font-size: 30px;
    }
    .about{
        padding: 40px 0;
    }
    .advantages__title, .projects__title{
        margin-bottom: 40px;
    }
    .advantages__text{
        padding-top: 40px;
    }
    .advantages, .projects {
        margin: 60px 0
    }
    .footer__name{
        font-size: 14px;
    }
    .slider{
        width: 100%;
        height: 350px;
    }
    .slider__item img{
        width: 647px;
        height: 315px;
        left: 44px;
    }
    .header-top__name{
        font-size: 40px;
    }
    .header-top__right{
        top: 5px;
    }
    .designing__flex-container .designing__text {
        max-width: 100%;
    }
}

@media (max-width: 660px){
    .header-top__name{
        font-size: 30px;
    }
    .title2{
        font-size: 20px;
    }
    .about{
        margin: 35px 0;
    }
    .about__flex-container{
        flex-direction: column;
    }
    .about__img{
        margin: 0 auto;
    }
    .footer__link{
        display: none;
    }
    .slider{
        width: 100%;
        height: 300px;
    }
    .slider__item img{
        width: 552px;
        height: 270px;
        top: 19px;
        left: 35px;
    }
    .header-bottom__link{
        font-size: 13px;
    }
    .header-bottom{
        padding: 10px;
    }
    .hero__title{
        font-size: 30px;
    }
    .title1{
        font-size: 40px;
    }
}

@media (max-width: 576px){
    .header-top__name {
        font-size: 22px;
    }
    .header-top__descr {
        font-size: 16px;
    }
    .header-top__left{
        margin-top: 10px;
    }
    .slider{
        width: 100%;
        height: 326px;
    }
    .slider__item img{
        top: 19px;
        left: 35px;
        width: 467px;
        height: 295px;
    }
    body{
        font-size: 14px;
    }
    .footer__menu-link{
        line-height: 1.6em;
    }
}

@media (max-width: 425px){
    .body-table__year {
        right: 28px;
    }
    .body-table__name {
        max-width: 284px;
    }
    .header-table__name,
    .header-table__year{
        font-size: 10px !important;
    }
    .header-table__year{
        left: 26px;
    }
    .header-table, .body-table__text-block{
        font-size: 13px;
    }
    .body-table__text-block{
        padding: 10px;
    }
    .researches{
        margin-bottom: 60px;
    }
    .stages__item{
        margin-top: 40px;
    }
    .stages__title {
        margin-bottom: 20px;
    }
    .projects__item-document-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .projects__item-document {
        width: 116px;
        margin-bottom: 20px;
    }
    .projects__item-document:focus{
        max-height: 95%;
        max-width: 95%;
    }
    .title1{
        font-size: 30px;
    }
    .title3{
        font-size: 16px;
    }
    .designing__title{
        margin-top: 20px;
    }
    .designing {
        margin-bottom: 70px;
    }

    .menu-icon{
        display: inline-block;
        margin-top: 5px;
        z-index: 110;
        cursor: pointer;
    }
    .header-bottom {
        display: none;
    }
    .display{
        display: block;
    }
    .header-top{
        padding: 10px 0;
    }
    .active{
        display: block;
    }
    .header-bottom__menu-item{
        position: relative;
        z-index: 105;
        text-align: center;
        margin-bottom: 40px;
    }
    .header-bottom__menu-list{
        flex-direction: column;
        position: relative;
        top: 92px;
    }
    .header-bottom__link{
        color: #fff;
        font-size: 17px;
    }
    .header-top__name {
        font-size: 18px;
    }
    .header-top__descr {
        font-size: 14px;
    }

    .btn{
        font-size: 10px;
        padding: 8px 12px;
    }
    .header-top__text {
        margin-top: 8px;
    }
    .slider{
        width: 100%;
        height: 251px;
    }
    .slider__item img{
        width: 316px;
        height: 221px;
    }
    .slider .slick-arrow{
        width: 25px;
        height: 25px;
    }
    .connection__img-block{
        width: 90%;
    }
    .footer__menu{
        display: none;
    }
    .footer-top {
        padding: 10px 0;
    }
    .footer__flex-container{
        flex-direction: column;
        align-items: center;
    }
    .footer__contacts-list{
        margin-bottom: 18px;
        text-align: center;
    }
    .footer__contacts-item {
        margin-bottom: 8px;
    }
    .footer__question {
        font-size: 16px;
    }
    .footer__contacts-link,
    .footer__contacts-text{
        font-size: 14px;
    }
    .popup__body{
        width: 400px;
    }
    .popup__form-item, .popup__textarea, .popup__dropdown-list{
        width: 74%;
        margin-left: 60px;
    }
    .popup__text{
        font-size: 12px;
        max-width: 400px;
        margin-left: 55px;
    }
    .popup__dropdown span {
        margin-left: 65px;
    }
    .popup__file .popup__text{
        padding-left: 10px;
    }
    .popup__button{
        margin-left: 85px;
    }
    .hero__title{
        font-size: 26px;
    }
    .accordion{
        display: none;
    }
    .stages__stage-text {
        max-width: 80%;
    }
    .researches__list {
        margin-left: 32px;
    }
    .projects__item-text-content {
        max-width: 85%;
    }
    .header__bg-color-bottom .container{
        padding: 0 2px;
    }
}

@media (max-width: 375px){
    .header-top{
        padding: 10px 0;
    }
    .slider {
        width: 100%;
        height: 214px;
    }
    .slider__item img{
        width: 83%;
        height: 186px;
        left: 29px;
    }
    .header-top__name{
        font-size: 15px;
    }
    .header__bg-color-bottom .container{
        padding: 0 2px;
    }
    .header-bottom {
        padding: 10px 5px;
    }
    .title1{
        font-size: 25px;
    }
    .header-top__name{
        font-size: 21px;
    }
    .header-top__descr {
        font-size: 15px;
    }
    .btn {
        font-size: 9px;
    }
    .header-top__right{
        display: none;
    }
    .projects__item-document {
        width: 104px;
    }
    .popup__body {
        width: 360px;
    }
    .popup__text {
        max-width: 370px;
        margin-left: 94px;
    }
    .popup__form-item, .popup__textarea, .popup__dropdown-list {
        width: 95%;
        margin-left: 10px;
        min-width: 0;
    }
    .popup__file .popup__text {
        padding-left: 22px;
    }
    .popup__button {
        margin-left: 142px;
    }
    .popup__text {
        max-width: 384px;
        margin-left: 0px;
    }
    .body-table__text-block{
        display: flex;
        flex-direction: column !important;
    }
    .body-table__year{
        position: relative;
        right: 0;
        margin: 0 auto;
    }
    .body-table__name{
        text-align: center;
        max-width: 100%;
    }
    .reference__header-table{
        display: none;
    }
}

@media (max-width: 320px){
    .projects__item-document {
        width: 88px;
    }
    .stages__stage-text {
        margin-bottom: 30px;
        font-size: 12px;
    }
    .header-bottom {
        padding: 10px 1px;
    }
    .header-top__name {
        font-size: 17px;
    }
    .header-top__descr {
        font-size: 14px;
    }
    .menu-icon {
        margin-top: 11px;
    }
    .slider{
        position: relative;
        width: 100%;
    }
    .slider__item img{
        width: 85%;
        height: 191px;
        left: 17px;
    }
    .slider .slick-arrow {
        width: 18px;
        height: 20px;
    }
    .advantages__item, .projects__item {
        font-size: 15px;
        margin-bottom: 4px;
    }
    .connection__img-block {
        width: 100%;
    }
    .title3 {
        font-size: 13px;
    }
    .popup__body {
        width: 314px;
    }
    .popup__form-item, .popup__textarea, .popup__dropdown-list {
        width: 93%;
        margin-left: 12px;
    }
    .popup__text {
        max-width: 312px;
        margin-left: 0px;
    }
    .popup__dropdown span {
        margin-left: 17px;
    }
    .popup__button {
        margin-left: 117px;
    }
}